/*
   CLIP
*/

/* Clip can only be applied to absolutely positioned elements */

.clip-auto {  clip: auto; }
.clip-i {     clip: inherit; }

@media screen and (min-width: 48em) {
  .clip-auto-s {  clip: auto; }
  .clip-i-s {     clip: inherit; }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .clip-auto-m {  clip: auto; }
  .clip-i-m {     clip: inherit; }
}

@media screen and (min-width: 64em) {
  .clip-auto-l {  clip: auto; }
  .clip-i-l {     clip: inherit; }
}

